<!DOCTYPE html>
<html>
  <head>
    <title>MyEcsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_pack_tag 'backend', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'backend', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/flash' if notice %>
    <%= render 'shared/manager/navbar' %>
    <%= yield %>
  </body>
  <%= render 'shared/manager/footer'%>
</html>